In [13]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv("Resources/listings.csv")

In [15]:
df1=df[['id','amenities']]

In [17]:
df1.head()

        id                                          amenities
0   241032  {TV,"Cable TV",Internet,"Wireless Internet","A...
1   953595  {TV,Internet,"Wireless Internet",Kitchen,"Free...
2  3308979  {TV,"Cable TV",Internet,"Wireless Internet","A...
3  7421966  {Internet,"Wireless Internet",Kitchen,"Indoor ...
4   278830  {TV,"Cable TV",Internet,"Wireless Internet",Ki...

In [18]:
def xyz (input_df, column_name):
    input_df[column_name]=input_df[column_name].str.replace('{','')
    input_df[column_name]=input_df[column_name].str.replace('}','')
    input_df[column_name]=input_df[column_name].str.replace('[','')
    input_df[column_name]=input_df[column_name].str.replace(']','')

    input_df[column_name]= input_df[column_name].str.replace('"','')
    # input_df[column_name]= input_df[column_name].str.replace('','')

In [19]:
xyz(df1,'amenities')
df1

            id                                          amenities
0       241032  TV,Cable TV,Internet,Wireless Internet,Air Con...
1       953595  TV,Internet,Wireless Internet,Kitchen,Free Par...
2      3308979  TV,Cable TV,Internet,Wireless Internet,Air Con...
3      7421966  Internet,Wireless Internet,Kitchen,Indoor Fire...
4       278830  TV,Cable TV,Internet,Wireless Internet,Kitchen...
...        ...                                                ...
3813   8101950  TV,Cable TV,Internet,Wireless Internet,Air Con...
3814   8902327  TV,Cable TV,Internet,Wireless Internet,Kitchen...
3815  10267360  Cable TV,Wireless Internet,Kitchen,Free Parkin...
3816   9604740  TV,Wireless Internet,Kitchen,Free Parking on P...
3817  10208623  TV,Cable TV,Internet,Wireless Internet,Kitchen...

[3818 rows x 2 columns]

In [ ]:
id_list=[]
amen_list=[]

for index, row in df1.iterrows():
  id_list.append(row[0])
  amen_list.append(row[1].split(','))

In [ ]:
df_final=pd.DataFrame({'id':id_list,"amenities":amen_list})
df_final.explode("amenities")