In [55]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import dans_functions as tf

# read in csv
df=pd.read_csv("../Resources/listings.csv")

# keep only those columns
df = df[['id','amenities']]
df.head(2)

       id                                          amenities
0  241032  {TV,"Cable TV",Internet,"Wireless Internet","A...
1  953595  {TV,Internet,"Wireless Internet",Kitchen,"Free...

In [49]:
df3 = tf.explode_into_rows_in_new_table(input_df = df, id_column = "id", explode_column = "amenities")

# Preview Output
df3.head(5)

       id          amenities
0  241032                 TV
0  241032           Cable TV
0  241032           Internet
0  241032  Wireless Internet
0  241032   Air Conditioning

In [50]:
# save as csv
df3.to_csv("../Resources/Amenities_Clean.csv")