In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import cleaning_functions as cf

# read in csv
df=pd.read_csv("../Resources/listings.csv")

# keep only those columns
df = df[['host_id','host_verifications']]
df.head(2)

   host_id                                 host_verifications
0   956883               ['email', 'phone', 'reviews', 'kba']
1  5177328  ['email', 'phone', 'facebook', 'linkedin', 're...

In [2]:
df3 = cf.explode_into_rows_in_new_table(input_df = df, id_column = "host_id", explode_column = "host_verifications")

# Preview Output
df3.head(5)
#df3=df3['host_verifications'].str.replace("'","")

   host_id host_verifications
0   956883              email
0   956883              phone
0   956883            reviews
0   956883                kba
1  5177328              email

In [3]:
df3

       host_id host_verifications
0       956883              email
0       956883              phone
0       956883            reviews
0       956883                kba
1      5177328              email
...        ...                ...
3816  25522052                kba
3817  14703116              email
3817  14703116              phone
3817  14703116            reviews
3817  14703116                kba

[17826 rows x 2 columns]

In [4]:
# save as csv
df3.to_csv("../Resources/Host_Verifications_Clean.csv")