In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import dans_functions as tf

# read in csv
df=pd.read_csv("../Resources/listings.csv")

# keep only those columns
df = df[['host_id','host_verifications']]

In [2]:
df3 = tf.explode_into_rows_in_new_table(input_df = df, id_column = "host_id", explode_column = "host_verifications")

# Preview Output
df3.head(5)

   host_id host_verifications
0   956883            'email'
0   956883            'phone'
0   956883          'reviews'
0   956883              'kba'
1  5177328            'email'

In [3]:
# save as csv
df3.to_csv("../Resources/Host_Verifications_Clean.csv")