In [1]:
import pandas as pd
import w_functions as wf
import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_columns", None)

In [2]:
df_all = pd.read_csv("../Resources/listings.csv")

In [3]:
wf.clean_all(df_all)

In [4]:
df_Property=df_all[['id',
                'host_id',
                'listing_url',
                'name',
                'description',
                'zipcode',
                'latitude',
                'longitude',
                'property_type',
                'room_type',
                'accommodates',
                'bathrooms',
                'bedrooms',
                'beds',
                'bed_type',
                'price',
                'security_deposit',
                'cleaning_fee',
                'minimum_nights',
                'cancellation_policy']]


df_host=df_all[['host_id',
            'host_url',
            'host_name',
            'host_since',
            'host_location',
            'host_about',
            'host_response_time',
            'host_response_rate',
            'host_acceptance_rate',
            'host_is_superhost',
            'host_thumbnail_url',
            'host_picture_url',
            'host_neighbourhood',
            'host_listings_count',
            'host_total_listings_count',
            'host_has_profile_pic',
            'host_identity_verified']]



df_review_stats=df_all[['id',
                'number_of_reviews',
                'first_review',
                'last_review',
                'review_scores_rating',
                'review_scores_accuracy',
                'review_scores_cleanliness',
                'review_scores_checkin',
                'review_scores_communication',
                'review_scores_location',
                'review_scores_value',
                'reviews_per_month']]

df_check = df_all[['id',
                'name',
                'price',
                'weekly_price',
                'monthly_price',
                'security_deposit',
                'cleaning_fee',
                'host_response_rate',
                'host_acceptance_rate',
                'host_is_superhost',
                'host_has_profile_pic',
                'host_identity_verified'
                ]]

In [5]:
df_check.head(2)

,id,name,price,weekly_price,monthly_price,security_deposit,cleaning_fee,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified
0,241032,Stylish Queen Anne Apartment,85.00,NaN,NaN,NaN,NaN,96,100,False,True,True
1,953595,Bright & Airy Queen Anne Apartment,150.00,1000.00,3000.00,100.00,40.00,98,100,True,True,True

In [7]:
df_Property.to_csv('../Resources/Property_clean.csv', index=False)
df_host.to_csv('../Resources/Host_clean.csv', index=False)
df_review_stats.to_csv('../Resources/Review_stats_clean.csv', index=False)