In [1]:
import pandas as pd

In [2]:
attractions_df = pd.DataFrame({
        "name": ["place1","place2"],
        "latitude": [39.9525839,39.9523432],
        "longitude":[-75.1652215,-75.1651999]
    })
attractions_df

     name   latitude  longitude
0  place1  39.952584 -75.165222
1  place2  39.952343 -75.165200

In [3]:
addresses_df = pd.DataFrame({
        "place": ["aibrnb1","airbnb2"],
        "thing1": ["stuff","stuff"],
        "latitude": [39.9522322,39.9501234],
        "longitude":[-75.12523533,-75.160000]
        
    })
addresses_df

     place thing1   latitude  longitude
0  aibrnb1  stuff  39.952232 -75.125235
1  airbnb2  stuff  39.950123 -75.160000

In [4]:
# Add Distance
from math import radians, cos, sin, asin, sqrt
from Haversine_Function import haversine

# Read in the philly coorindates variables from another Jupyter Notebook

for index,eachaddressesrow in addresses_df.iterrows():
    list_of_lng_for_this_row=[]
    for index,eachattraction in attractions_df.iterrows():
        list_of_lng_for_this_row.append(addresses_df.apply(lambda row: haversine(
                                            eachattraction['longitude'], 
                                            eachattraction['latitude'], 
                                            row['longitude'], 
                                            row['latitude']), axis=1)
    )
    addresses_df["distance"]=sum(list_of_lng_for_this_row)/len(list_of_lng_for_this_row)
addresses_df

     place thing1   latitude  longitude  distance
0  aibrnb1  stuff  39.952232 -75.125235       3.4
1  airbnb2  stuff  39.950123 -75.160000       0.5