In [2]:
import pandas as pd

In [3]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return round(c * r,1)

In [9]:
attractions_df = pd.DataFrame({
        "name": ["place1","place2"],
        "latitude": [39.9525839,39.9523432],
        "longitude":[-75.1652215,-75.1999999]
    })
attractions_df

     name   latitude  longitude
0  place1  39.952584 -75.165222
1  place2  39.952343 -75.200000

In [10]:
addresses_df = pd.DataFrame({
        "place": ["aibrnb1","airbnb2"],
        "thing1": ["stuff","stuff"],
        "latitude": [39.9522322,39.9501234],
        "longitude":[-75.12523533,-75.160000]
        
    })
addresses_df

     place thing1   latitude  longitude
0  aibrnb1  stuff  39.952232 -75.125235
1  airbnb2  stuff  39.950123 -75.160000

In [11]:
# Add Distance
from math import radians, cos, sin, asin, sqrt

# Read in the philly coorindates variables from another Jupyter Notebook

for index,rowx in attractions_df.iterrows():
    addresses_df[f"distance from {rowx[0]}"]=addresses_df.apply(lambda row: haversine(
                                            rowx[2], 
                                            rowx[1], 
                                            row['longitude'], 
                                            row['latitude']), axis=1)
addresses_df.head(2)

,place,thing1,latitude,longitude,distance from place1,distance from place2
0,aibrnb1,stuff,39.952232,-75.125235,3.4,6.4
1,airbnb2,stuff,39.950123,-75.160000,0.5,3.4

[-75.1652215, -75.1651999]

In [26]:
# Add Distance
from math import radians, cos, sin, asin, sqrt
from Haversine_Function import haversine
# Read in the philly coorindates variables from another Jupyter Notebook

for eachaddressesrow in addresses_df.iterrows():
    list_of_lng_for_this_row=[]
    for eachattraction in attractions_df.iterrows():
        list_of_lng_for_this_row.append(eachaddressesrow.apply(lambda row: haversine(
                                            eachrow['longitude'], 
                                            eachrow['latitude'], 
                                            row['longitude'], 
                                            row['latitude']), axis=1)
    )
    addresses_df["distance"]=list_of_lng_for_this_row[0]

AttributeError: 'tuple' object has no attribute 'apply'