In [15]:
import pandas as pd
import datetime as dt
from dans_functions import * 
import warnings 
warnings.filterwarnings('ignore')

In [16]:
input_df = pd.DataFrame({
        "listing_id": [241032,953595],
        "amenities": ['{TV,"Cable TV"}','{"Wireless Internet",TV}']
    })
input_df

   listing_id                 amenities
0      241032           {TV,"Cable TV"}
1      953595  {"Wireless Internet",TV}

In [17]:
expected_df = pd.DataFrame({
        "listing_id": [241032,241032,953595,953595], 
        "amenities": ["TV","Cable TV","Wireless Internet","TV"] 
    })
expected_df

   listing_id          amenities
0      241032                 TV
1      241032           Cable TV
2      953595  Wireless Internet
3      953595                 TV

In [18]:
explode_into_rows_in_new_table(input_df=input_df, id_column = "listing_id", explode_column = "amenities")

   level_0  index  listing_id          amenities
0        0      0      241032                 TV
1        1      0      241032           Cable TV
2        2      1      953595  Wireless Internet
3        3      1      953595                 TV